{layout name="common/layout" /}
<div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">我的工作台-{$roomname}</h4>
        </div>

        <div class="col-sm-6">
            <ol class="breadcrumb float-right">



                <!-- --select room -->
                <li class="dropdown breadcrumb-item">
                    <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="false" aria-expanded="false">
                        选择病区 <span class="mdi mdi-chevron-down"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated language-switch">
                        <a class="dropdown-item" href="{:url('incubatorinfo/searchbyroom', ['room' => '*'])}"><span> 全部病区</span></a>

                        {foreach $location as $v}
                        <a class="dropdown-item" href="{:url('incubatorinfo/searchbyroom', ['room' => $v.room])}"><span> {$v.room} </span></a>
                        {/foreach}


                    </div>
                </li>


            </ol>


        </div>

    </div>
    <!-- end row -->
</div>


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="text-center">
            <h5>设备维修状态查询</h5>

        </div>
    </div>
</div>
<div class="row m-t-40">

    <!-- Statistics -->
    <div class="col-sm-6 col-xl-3">
        <div class="card pricing-box mt-4 faq-box border-primary">
            <div class="pricing-icon">
                <i class="mdi mdi-cube-outline bg-primary  text-white"></i>
            </div>
            <div class="pricing-content">
                <div class="text-center">
                    <h5 class="text-uppercase mt-5">在用设备</h5>
                    <div class="pricing-plan mt-4 pt-2">
                        <h1> {$total_available}<small class="font-16">台</small></h1>
                    </div>

                </div>

                    <div class="mt-4 pt-3 text-center">
                        <div class="progress mt-4" style="height: 4px;">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: {$dailycleanpercent*100}%"
                                 aria-valuenow="{$dailycleanpercent}" aria-valuemin="0" aria-valuemax="1"></div>
                        </div>
                        <p class="text-muted mt-2 mb-0">当日检查完成率<span class="float-right">{$dailycleanpercent*100}%</span></p>
                    </div>

                <div class="mt-4 pt-3 text-center">
                    <a href="{:url('incubatorinfo/searchbycode', ['room' => $roomname,'status' => '在用'])}" class="btn btn-primary btn-lg w-100 btn-round">查看明细</a>
                </div>
                </div>
            </div>
        </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card pricing-box mt-4 faq-box border-success">
            <div class="pricing-icon">
                <i class="mdi mdi-cube-outline bg-success  text-white"></i>
            </div>
            <div class="pricing-content">
                <div class="text-center">
                    <h5 class="text-uppercase mt-5">备机</h5>
                    <div class="pricing-plan mt-4 pt-2">
                        <h1> {$total_reserve}<small class="font-16">台</small></h1>
                    </div>

                </div>
                <div class="mt-4 pt-3 text-center">
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {$dailycleanpercentreseve*100}%"
                         aria-valuenow="{$dailycleanpercentreseve}" aria-valuemin="0" aria-valuemax="1"></div>
                </div>
                <p class="text-muted mt-2 mb-0">当日检查完成率<span class="float-right">{$dailycleanpercentreseve*100}%</span></p>
                    <div class="mt-4 pt-3 text-center">
                        <a href="{:url('incubatorinfo/searchbycode', ['room' => $roomname,'status' => '备机'])}" class="btn btn-success btn-lg w-100 btn-round">查看明细</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card pricing-box mt-4 faq-box border-warning">
            <div class="pricing-icon">
                <i class="mdi mdi-cube-outline bg-warning  text-white"></i>
            </div>
            <div class="pricing-content">
                <div class="text-center">
                    <h5 class="text-uppercase mt-5">故障待接修</h5>
                    <div class="pricing-plan mt-4 pt-2">
                        <h1>{$total_inuse}<small class="font-16">台</small></h1>
                    </div>

                </div>
                <div class="mt-4 pt-3 text-center">
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: {$dailycleanpercentinuse*100}%"
                         aria-valuenow="{$dailycleanpercentinuse}" aria-valuemin="0" aria-valuemax="1"></div>
                </div>
                <p class="text-muted mt-2 mb-0">当日检查完成率<span class="float-right">{$dailycleanpercentinuse*100}%</span></p>
                    <div class="mt-4 pt-3 text-center">
                        <a href="{:url('incubatorinfo/searchbycode', ['room' => $roomname,'status' => '报修待接修'])}" class="btn btn-warning btn-lg w-100 btn-round">查看明细</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-3">
        <div class="card pricing-box mt-4 faq-box border-danger">
            <div class="pricing-icon">
                <i class="mdi mdi-cube-outline bg-danger  text-white"></i>
            </div>
            <div class="pricing-content">
                <div class="text-center">
                    <h5 class="text-uppercase mt-5">维修中</h5>
                    <div class="pricing-plan mt-4 pt-2">
                        <h1>{$total_waitingclean}<small class="font-16">台</small></h1>
                    </div>

                </div>
                <div class="mt-4 pt-3 text-center">
                <div class="progress mt-4" style="height: 4px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {$dailycleanpercentwait*100}%"
                         aria-valuenow="{$dailycleanpercentwait}" aria-valuemin="0" aria-valuemax="1"></div>
                </div>
                <p class="text-muted mt-2 mb-0">当日检查完成率<span class="float-right">{$dailycleanpercentwait*100}%</span></p>
                    <div class="mt-4 pt-3 text-center">
                        <a href="{:url('incubatorinfo/searchbycode', ['room' => $roomname,'status' => '维修中'])}" class="btn btn-danger btn-lg w-100 btn-round">查看明细</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


