<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title>婴儿护理感控管理系统</title>
        <meta content="婴儿护理感控管理系统" name="description" />
        <meta content="Themesdesign" name="author" />
        <link rel="shortcut icon" href="/assets/images/favicon.ico">

        <!--Morris Chart CSS -->
        <link rel="stylesheet" href="/assets/plugins/morris/morris.css">

        <link href="http://cdn.bootstrapmb.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/metismenu.min.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    </head>

    <body>

        <!-- Begin page -->
        <div id="wrapper">

           

          

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
           
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">{__CONTENT__}</div>
                </div>
                <!-- content -->

                <footer class="footer">
                    Copyright © 2019 <span class="d-none d-sm-inline-block"> - e医云 <i class="mdi mdi-heart text-danger"></i>
                        <a href="http://www.yck12.com"></a>All rights reserved</span>.
                </footer>

            
<!--             ============================================================== 
             End Right content here 
             ============================================================== -->

        </div>
         END wrapper 

        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="http://cdn.bootstrapmb.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="/assets/js/metismenu.min.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/waves.min.js"></script>

      

        <!-- App js -->
        <script src="/assets/js/app.js"></script>

    </body>

</html>